@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

$primary-color : #01261C;
$second-color : #8FBF97;
$third-color : #577D86;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
    // background-color: #577D86;
}

.judul {
    display: flex;
    align-items: center;
}


nav {
    color: aqua;
}

.puskesmas {
    text-decoration: none;
    font-weight: 700;
    color: $second-color;
}

.nav-ateh {
    text-decoration: none;
    font-weight: 400;
    color: #8FBF97;
}




// .instansi,
// .nav-links li {
//     font-size: 18px;
//     color: $second-color;
// }

// a:link {
//     text-decoration: none;
// }

// .nav-links,
// li,
// a {
//     color: black;
//     display: inline-block;
//     padding: 0 10px;

// }

// .nav-links,
// li a {
//     transition: all 0.3s ease 0s;
// }

// .instansi:hover,
// .nav-links,
// li a:hover {
//     color: #B9EDDD;
//     transition: 0.3s;
// }

// .navbar {
//     font-family: 'Merriweather', serif;
//     background-color: $primary-color;
//     list-style: none;
//     display: flex;
//     justify-content: space-between;
//     padding: 20px 5%;
// }

// .nav-links {
//     list-style: none;
//     text-decoration: none;
//     color: #8FBF97;
// }

// .logo-puskesmas {
//     margin-left: 50px;
//     width: 32px;
// }

// .navbar-nav,
// li,
// a {
//     color: $second-color;
// }

// home

.container-content {
    background: linear-gradient(108deg, rgba(1, 38, 28, 0.7179271024816176) 0%, rgba(1, 0, 94, 0.44425763469450286) 91%), url('../images/gambar-1.jpg');
    text-align: center;
    padding: 14.32em;
    // height: 91.32vh;
    height: 100vh;
}

.hipertensi {
    color: #8FBF97;
    margin-bottom: 10px;
    font-size: 5em;
    font-weight: bold;
}

.isi-hipertensi {
    color: $third-color;
    font-size: 24px;
    font-family: 'Merriweather', serif;
    text-align: center;
}

// button diagnosa
.btn-diagnosa {
    color: $primary-color;
    background-color: $second-color;
    font-size: 19px;
    border-style: none;
    border-radius: 5px;
    padding: 10px 10px;
    margin-top: 4em;
    cursor: pointer;
}


// proses diagnosa
input[type=text],
select {
    width: 100%;
    display: inline-block;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

// .col-25 {
//     float: left;
//     width: 25%;
//     margin-top: 6px;
//   }


.title-pd {
    font-weight: 700;
    margin-top: 20px;
    color: #8FBF97;
    text-align: center;
}

.container-pd {
    display: flex;
    height: 100vh;
    justify-self: center;
    align-items: center;
    background: linear-gradient(108deg, rgba(1, 38, 28, 0.7179271024816176) 0%, rgba(1, 0, 94, 0.44425763469450286) 91%), url('../images/gambar-2.jpg');
    background-size: cover;
    // background-color: $primary-color;
}


.content {
    font-weight: 400;
    font-size: 16px;
    border-radius: 2em;
    background: rgba(1, 38, 28, 0.5179271024816176);
    // background-color: #01261C;
    // margin-top: 20px;
    margin: auto;
    width: 60%;
    color: #8FBF97;
    padding: 1em 23% 1em;
}

input[type=submit],
input[type=reset] {
    color: #01261C;
    background-color: #8FBF97;
    font-size: 14px;
    // margin: 0;
    // top: 50%;
    // display: block;
    // margin: auto;
    border-style: none;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;    
    cursor: pointer;
}

//   KonsultasiFM
.title-konsul {
    color: $second-color;
    text-align: center;
    margin-bottom: 20px;
}

.container-konsul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(108deg, rgba(1, 38, 28, 0.7179271024816176) 0%, rgba(1, 0, 94, 0.44425763469450286) 100%), url('../images/gambar-3.jpg');
    background-size: cover;
}

.content-konsul {
    padding: 10px 20px 10px;
    font-weight: 400;
    font-size: 16px;
    border-radius: 2em;
    background: rgba(1, 38, 28, 0.5179271024816176);
    margin: 7em 0 0 0 ;
    width: 35%;
    color: #8FBF97;
}

.label-gejala {
    display: block;
}
.btn-proses, .proses {
    
    text-align: center;
}

input[type=checkbox] {

    margin-right: 10px;
}

// proses diagnosa-page
.h-pd-judul {
    color: $third-color;
}

.h-pd-container {
    // background: rgba(1, 38, 28, 0.5179271024816176);

    display: block;
  padding: 40px;
}
.h-pd-content {
    width: 50%;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
  border: 3px solid green;
  padding: 40px;
}