@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Merriweather", serif;
}

.nav-bg {
  background: linear-gradient(90deg, rgba(1, 38, 28, 0.7179271025) 8%, rgba(1, 38, 28, 0.8442576347) 91%);
}

label {
  color: #D5D58D;
}

.p-2 {
  border-radius: 20px;
}

.judul {
  display: flex;
  align-items: center;
}

.puskesmas {
  text-decoration: none;
  font-weight: 700;
  color: #DBF226;
}

.nav-ateh {
  text-decoration: none;
  font-weight: 400;
  color: #DBF226;
}

.container-content {
  background: linear-gradient(108deg, rgba(1, 38, 28, 0.7179271025) 0%, rgba(1, 0, 94, 0.4442576347) 91%), url("../images/gambar-1.jpg");
  text-align: center;
  padding: 14.32em;
  height: 100vh;
}

.hipertensi {
  color: #D5D58D;
  margin-bottom: 10px;
  font-size: 5em;
  font-weight: bold;
}

.isi-hipertensi {
  color: #9FC131;
  font-size: 24px;
  font-family: "Merriweather", serif;
  text-align: center;
}

.btn-diagnosa {
  color: #D5D58D;
  background-color: #005B52;
  font-size: 19px;
  border-style: none;
  border-radius: 5px;
  padding: 10px 10px;
  margin-top: 4em;
  cursor: pointer;
}

input[type=text],
select, input[type=password] {
  width: 100%;
  display: inline-block;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.title-pd {
  font-weight: 700;
  margin-top: 20px;
  color: #D5D58D;
  text-align: center;
}

.container-pd {
  display: flex;
  height: 100vh;
  justify-self: center;
  align-items: center;
  background: linear-gradient(108deg, rgba(1, 38, 28, 0.7179271025) 0%, rgba(1, 0, 94, 0.4442576347) 91%), url("../images/gambar-2.jpg");
  background-size: cover;
}

.content {
  font-weight: 400;
  font-size: 16px;
  border-radius: 2em;
  background: rgba(1, 38, 28, 0.5179271025);
  margin: auto;
  width: 60%;
  color: #8FBF97;
  padding: 1em 23% 1em;
}

input[type=submit],
input[type=reset] {
  color: #D5D58D;
  background-color: #005B52;
  font-size: 14px;
  border-style: none;
  border-radius: 5px;
  padding: 10px 10px 10px 10px;
  cursor: pointer;
}

.title-konsul {
  color: #8FBF97;
  text-align: center;
  margin-bottom: 20px;
}

.container-konsul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(108deg, rgba(1, 38, 28, 0.7179271025) 0%, rgba(1, 0, 94, 0.4442576347) 100%), url("../images/gambar-3.jpg");
  background-size: cover;
}

.content-konsul {
  padding: 10px 20px 10px;
  font-weight: 400;
  font-size: 16px;
  border-radius: 2em;
  background: rgba(1, 38, 28, 0.5179271025);
  margin: 7em 0 0 0;
  width: 35%;
  color: #D5D58D;
}

.label-gejala {
  display: block;
}

.btn-proses, .proses {
  text-align: center;
}

input[type=checkbox] {
  margin-right: 10px;
}

.h-pd-judul {
  font-weight: 900;
  color: #D6D58E;
  text-align: center;
}

.h-pd-container {
  background: linear-gradient(108deg, rgba(1, 38, 28, 0.7179271025) 0%, rgba(1, 0, 94, 0.4442576347) 100%), url("../images/gambar-4.jpg");
  height: 100vh;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

.h-pd-content {
  border-radius: 20px;
  background-color: rgba(4, 41, 64, 0.6);
  width: 46%;
  margin-top: 10vh;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 40px 60px 40px;
}

.h-pd-btn-diagnosa {
  background-color: #005B52;
  font-size: 15px;
  border-style: none;
  border-radius: 5px;
  padding: 10px 10px;
  cursor: pointer;
}

a:link {
  color: #DBF226;
  text-decoration: none;
}

a:hover {
  transition: 300ms;
  color: #ccc;
  background-color: transparent;
}

.h-pd-btn-kembali {
  background-color: #005B52;
  font-size: 15px;
  border-style: none;
  border-radius: 5px;
  padding: 10px 10px;
  cursor: pointer;
  text-decoration: none;
}

.h-pd-btn {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border-style: none;
  border-radius: 5px;
  padding: 10px 10px 10px 10px;
  cursor: pointer;
}

.p-admin-login {
  color: #052941;
  text-align: center;
}

.h-pd-container-admin {
  background: linear-gradient(180deg, rgba(1, 0, 94, 0.2442576347), rgba(1, 38, 28, 0.6179271025)), url("../images/gambar-5.jpg");
  height: 100vh;
  padding: 40px;
  display: flex;
  justify-content: end;
  align-items: center;
  background-repeat: no-repeat;
  background-size: 705px 1080px;
}

.h-pd-content-admin {
  border-radius: 10px;
  background-color: #D5D58D;
  width: 70%;
  margin-top: 10vh;
  padding: 40px 40px 60px 40px;
}

.color-background {
  background-color: #16443C;
}

.id {
  color: #052941;
}

.h-pd-btn-admin {
  width: 28%;
  margin-left: auto;
  margin-right: auto;
  border-style: none;
  border-radius: 5px;
  padding: 10px 10px 10px 10px;
  cursor: pointer;
}

.home-admin-container {
  background: linear-gradient(108deg, rgba(1, 38, 28, 0.7179271025) 0%, rgba(1, 0, 94, 0.4442576347) 91%), url("../images/gambar-1.jpg");
  height: 100vh;
}

.h-ps-container {
  height: 100vh;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

.ps-title {
  padding: 1em;
  font-weight: 900;
  color: #D6D58E;
}

.table-title {
  color: #D6D58E;
}

.table-isi {
  color: #9FC131;
}

.background {
  height: 100vh;
  background: linear-gradient(108deg, rgba(1, 38, 28, 0.7179271025) 0%, rgba(1, 0, 94, 0.4442576347) 100%), url("../images/gambar-4.jpg");
}

.h-lg-container {
  height: 40vh;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

.h-lg-content {
  font-weight: 400;
  font-size: 16px;
  border-radius: 2em;
  background: rgba(1, 38, 28, 0.5179271025);
  margin-right: auto;
  margin-left: auto;
  width: 30%;
  color: #8FBF97;
}

.btn-tampil {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  color: #D5D58D;
  background-color: #005B52;
  font-size: 19px;
  border-style: none;
  border-radius: 5px;
  padding: 10px 10px;
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */